:root {
  --colorPrimary0-25: rgba(211, 211, 211, 0.25);
  --colorPrimary: rgba(210, 210, 210, 1);
  --colorSecondary: rgba(85, 85, 85, 1);
  --textColorSecondary: white;
  --textColor: black;
  --border: 2px solid black;
}

/* ------------------ */
/* Nav start  */

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 8rem;
}

.nav h2 {
  letter-spacing: 0.25rem;
}

.nav > .menu {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}

.nav > .menu > * {
  color: var(--textColor);
  text-decoration: none;
  font-weight: bold;
}

.nav > .container {
  display: none;
}

/* Nav end */
/* ------------------- */
/* Space start */

.space {
  width: 100%;
  background-color: var(--colorPrimary);
  text-align: center;
  padding-block: 3rem;
}

.space h1 {
  letter-spacing: 0.1rem;
}

/* Space end */
/* ---------------------- */
/* Content start */

.container {
  padding: 6rem 8rem 4rem 8rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: calc(6rem + 1248px + 4rem);
  gap: 1rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem 0.5rem;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.main::-webkit-scrollbar {
  display: none;
}

.main > .content {
  scroll-snap-align: start;
  padding: 0.5rem;
  display: grid;
  gap: 0.85rem;
  height: 405px;
  overflow-y: hidden;
}

.main > .content img {
  width: 100%;
  height: 220px;
  display: block;
  background-color: var(--colorSecondary);
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.main > .content > .wrapper p {
  font-size: 0.85rem;
  margin-block-start: 0.5rem;
}

.side {
  display: grid;
  grid-template-rows: 2fr fit-content 3fr 1fr;
  gap: 2.5rem;
}

.side > .category {
  background-color: var(--colorPrimary0-25);
  padding: 2.5rem;
}

.side > .category > h3 {
  letter-spacing: 0.05rem;
}

.side > .category > .menu {
  margin-block: 1rem;
}

.side > .category > .menu > * {
  display: block;
  padding-block: 1rem;
  color: var(--textColor);
  text-decoration: none;
  letter-spacing: 0.05rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.side > form {
  width: 100%;
}

.side > form > label {
  position: relative;
}

.side > form > label > span > img {
  position: absolute;
  width: 25px;
  aspect-ratio: 1/1;
  right: 1rem;
  transform: translateY(0.35rem);
}

.side > form > label > input {
  width: 100%;
  height: 2rem;
  padding: 1rem;
}

.side > .topPost {
  display: grid;
  gap: 1.5rem;
  padding: 2.5rem;
  background-color: var(--colorPrimary0-25);
}

.side > .topPost > .content {
  display: grid;
  gap: 1.25rem;
}

.side > .topPost > .content .wrapper {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
}

.side > .topPost > .content .wrapper h1 {
  align-self: center;
}

.side > .topPost > .content .wrapper p {
  font-size: 75%;
  line-height: 1rem;
}

.side > .gallery {
  display: grid;
  gap: 1rem;
}

.side > .gallery .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;
}

.side > .gallery img {
  display: block;
  background-color: var(--colorPrimary);
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* Content end */
/* ---------------------- */
/* Pagination start */

.pagination {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.pagination > * {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  width: 1.5rem;
  height: 1.5rem;
  text-decoration: none;
  padding: 0.25rem;
  background-color: var(--colorPrimary0-25);
}

.pagination > a:first-child {
  color: var(--textColorSecondary);
  background-color: var(--colorSecondary);
}

/* Pagination end */
/* -------------------------- */
/* Footer start */

.footer {
  margin-block-start: 6rem;
  background-color: var(--colorSecondary);
  padding: 4rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  color: var(--textColorSecondary);
}

.footer .brand {
  display: grid;
  gap: 5rem;
}

.footer .brand h2 {
  letter-spacing: 0.25rem;
}

.footer .brand > p {
  align-self: end;
  font-size: 75%;
}

.footer > .post {
  display: grid;
  gap: 1rem;
}

.footer > .post .content {
  display: grid;
  gap: 0.5rem;
  font-size: 75%;
}

.footer > .post > .content .wrapper {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

.footer > .post > .content img,
.footer > .contact > .wrapper > .socialMedia img {
  display: inline-block;
  width: 20px;
  height: 20px;
  object-fit: cover;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(334deg);
}

.footer > .contact {
  display: grid;
  gap: 2rem;
}

.footer > .contact > .wrapper {
  display: grid;
  gap: 1rem;
}

.footer > .contact > .wrapper > .socialMedia {
  display: flex;
  gap: 0.5rem;
}

.footer > .contact {
  font-size: 75%;
}

/* Footer end */
